@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
  background-image: url('/stars.png');
}

.glass-morphism {
  @apply bg-white bg-opacity-10 backdrop-filter backdrop-blur-lg rounded-xl border border-opacity-20 border-white shadow-lg;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

/* Resto de los estilos... */
